#idade{
     width: 100%;
     height: 40px;
     margin: 10px 0;
}

#soma{
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

#parcelas{
    width: 100%;
    height: 25px;   
}

#formaPg{
    width: 100%;
    height: 40px;
}

#minutos{
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

#media{
    width: 100%;
    height: 40px;
}