*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 500px;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ccc;
    text-align: center;
    border-radius: 15px;
}

.container p{
    font-size: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 30px;
}

.container #btn{
    font-size: 20px;
    padding: 8px;
    position: relative;
    top: 50%;
}

.container-2{
    width: 100%;
    height: 500px;
    max-width: 1200px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ccc;
    text-align: center;
    border-radius: 15px;
}

.container-2 p{
    font-size: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 30px;
}

.container-2 #btn,
#btn-1,
#btn-2{
    width: 130px;
    font-size: 20px;
    margin-right: 40px;
    padding: 8px;
    position: relative;
    top: 50%;
}