*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: salmon;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

header h1{
    text-align: center;
}

section.pokemon{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 20px;
}

.selecao{
    width: 30%;
    height: 700px;
    padding: 10px 10px;
    background-color: #ccc;
}

.selecao h1{
    text-align: center;
}

.selecao img{
    margin-top: 120px;
    margin-left: 15%;
}

.selecao a{
    font-size: 30px;
    float: left;
    position: relative;
    top: 100px;
    left: 30px;
    text-decoration: none;
    color: black;
}

.pikachu{
    font-size: 30px;
    float: left;
    position: relative;
    top: 100px;
    left: -180px;
    text-decoration: none;
    color: black;
}